name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "master"
      - "hotfix-*"

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x, 18.x]
    steps:
      - uses: actions/checkout@v4.0.0

      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable
        id: setup-chrome
      - run: |
          echo Installed chromium version: ${{ steps.setup-chrome.outputs.chrome-version }}
          ${{ steps.setup-chrome.outputs.chrome-path }} --version

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: yarn install
        run: |
          yarn install --immutable --immutable-cache --check-cache

      - run: yarn workspace allure-playwright playwright install chromium --with-deps

      - name: yarn build
        run: |
          yarn run build

      - name: yarn lint
        run: |
          yarn run lint

      - name: yarn prettier:check
        run: |
          yarn run prettier:check

      - name: yarn test
        run: |
          yarn run test
